<div class="container emp-profile bg-img">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://i.stack.imgur.com/l60Hf.png" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{staff.fullname}}
                    </h5>


                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" id="av" value="Sửa" *ngIf="btnDisable"
                    (click)="btnDisable = false" />
                <input type="submit" class="profile-edit-btn" name="btnAddMore" id="av" value="Sửa" *ngIf="!btnDisable"
                    (click)="btnDisable = true" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form [formGroup]="thongtinForm" (ngSubmit)="updateThongtin()">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ID nhân viên: </label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{staff.staff_id}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Họ và Tên</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" value="{{staff.fullname}}" class="form-control"
                                        formControlName="fullname" [(ngModel)]="staff.fullname" [readonly]="!btnDisable" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Tên tài khoản: </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" value="{{staff.username}}" class="form-control"
                                        formControlName="username" [(ngModel)]="staff.username" [readonly]="!btnDisable">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Số điện thoại</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" value="{{staff.phone}}" class="form-control"
                                        formControlName="phone" [(ngModel)]="staff.phone" [readonly]="!btnDisable">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Địa chỉ</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" value="staff.address" class="form-control"
                                        formControlName="address" [(ngModel)]="staff.address" [readonly]="!btnDisable">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Ngày sinh: </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="date" value="{{staff.birth}}" class="form-control"
                                        formControlName="birth" [(ngModel)]="birth1" [readonly]="!btnDisable">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Vai trò</label>
                                </div>
                                <div class="col-md-6">
                                    <p *ngIf="staff.role == 1">Bác sĩ</p>
                                    <p *ngIf="staff.role == 2">Y tá</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Ngày làm việc</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{staff.dateatwork | date}}</p>
                                </div>
                            </div>
                            <button [disabled]="!btnDisable"  type="submit"
                        class="btn btn-success">Lưu</button>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Kinh nghiệm làm việc:</label>
                            </div>
                            <div class="col-md-6">
                                <p>Chuyên gia</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Lương theo giờ</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Hiệu lực:</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 tháng</p>
                            </div>
                        </div>
                        <div class="row">

                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>